<!DOCTYPE html>

<html>
  <head>
		<title>#{get 'title' /}</title>
		<meta charset="${_response_encoding}">
		#{press.stylesheet 'bootstrap.css' /}
		#{press.stylesheet 'main.css' /}
		#{press.compressed-stylesheet /}
		#{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
   </head>
   <body>
#{doLayout /}
#{press.script 'jquery.js'/}
#{press.script 'bootstrap.js'/}
#{press.script 'main.js' /}
#{press.compressed-script /}
  </body>
</html>
